@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@700&display=swap&family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --bodyGradient: linear-gradient(90deg, rgba(237,193,211,1) 50%, rgba(179,191,227,1) 100%);
  --cardGradient: linear-gradient(90deg, rgba(149,88,228,1) 20%, rgba(217,86,164,1) 60%);
  --shadow:rgba(0, 0, 0, 0.25) 0px 4px 4px;
  --shadow2: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  --white: #ffffff;
  --placeholderGray: #9eaabb;
  --cardBorder: #c4c4c4;
  --lightGray: #d8d8d8;
  --pink: #C74B6D;
  --red: #ba3326;
  --darkBlue: #41477A;
}

/* 
  GENERAL STYLING
  ===============
*/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: var(--bodyGradient);
}

main {
  width: 1200px;
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 45px;
  border-radius: 25px;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h2,
h3 {
  margin-bottom: 20px;
}

input[type="text"] {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

input[type="text"]::placeholder {
  color: var(--placeholderGray);
}

input[type="text"]:focus {
  outline: 0;
  border-bottom: 1px solid var(--placeholderGray);
}

/* 
HEADER
======= 
*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.searchInputWrapper {
  display: flex;
  align-items: center;
}

.searchInputWrapper input {
  width: 200px;
  margin-left: 10px;
}

.profileWrapper {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--pink);
  margin-left: 20px;
  padding: 2px;
}

.bellIconWrapper {
  position: relative;
}

.bellIconWrapper::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: var(--red);
  top: 0;
  right: 0;
  border-radius: 50%;
}

/* 
INVOICE WRAPPER
================ 
*/

.invoiceWrapper {
  display: flex;
  gap: 50px;
}

/* 
CARDS AND PAYMENTS
===================
*/

.cardsAndPaymentsWrapper {
  flex: 1 0 0;
}

/* Cards Wrapper */
.cardsWrapper {
  display: flex;
  gap: 20px;
}

/* Cards */
.card {
  font-family: 'Roboto Mono', monospace;
  flex: 1 0 0;
  border: 1px solid var(--cardBorder);
  border-radius: 15px;
}

.cardHeader,
.cardBody,
.cardFooter {
  padding: 25px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardLabel {
  font-size: 10px;
  color: var(--placeholderGray);
}

.cardLabelUppercase {
  text-transform: uppercase;
}

.cardNumbers {
  color: var(--darkBlue);
  font-size: 18px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid var(--lightGray);
  color: var(--darkBlue);
}

.cardColored {
  background: var(--cardGradient);
  box-shadow: var(--shadow2);
  border: 0;
}

.cardColored .cardNumbers {
  color: var(--placeholderGray);
}

.cardColored .cardFooter {
  color: var(--white);
}

/* 
PAYMENTS WRAPPER
================
*/
.paymentsWrapper {
  margin-top: 30px;
}

/* Payments Lists */
.nestedList {
  display: flex;
  justify-content: space-between;
}

.nestedList > li {
  flex: 1;
}

.nestedList > li:nth-last-child(-n+3) {
  text-align: right;
}

/* 
CUSTOMER SUMMARY
===================
*/
.customerSummary {
  box-shadow: var(--shadow2);
}
