@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@700&display=swap');

:root {
    --mainColor: #ba3326;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
}

