@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@700&display=swap');

:root {
    --mainColor: #ba3326;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
}

.invoiceWrapper {
  display: flex;
}

.cardsAndPayments {
  border: 2px solid blue;
}

.customerSummary {
  border: 2px solid lightsalmon;
}

.cardColored {
  background: rgb(149,88,228);
  background: linear-gradient(90deg, rgba(149,88,228,1) 50%, rgba(217,86,164,1) 100%);
}
